<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notarize Me</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      .dark-mode { background-color: #141F6D; color: #668CC2; }
    </style>
    <img
      src="Logo-PNGs/NotarizeMe_Logo_1.png"
      alt="NotarizeMe Logo"
      class="logo"
    />
  </head>

  <body class="bg-white text-#B6B9CE dark-mode">
    <button id="toggleDarkMode">X</button>

    <script>
      const toggleDarkModeBtn = document.getElementById('toggleDarkMode'); const
      body = document.body; toggleDarkModeBtn.addEventListener('click', () => {
      body.classList.toggle('dark-mode'); });
    </script>
    <!-- start of main nav bar -->
    <nav class="flex justify-center items-center bg-danger py-4">
      <a class="navbar-brand ml-2 font-bold" href="#">Notarize Me</a>
      <ul class="flex space-x-4">
        <li><a href="#">Home</a></li>
        <li><a href="#">Forms</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <button class="btn ml-2" id="logout">Logout</button>
    </nav>
    <!-- end of main navigation bar -->
    <body class="bg-white text-#B6B9CE dark-mode mt-46">
      {{{body}}}
    </body>
  </body>
</html>