@tailwind base;
@tailwind components;
@tailwind utilities;



  [data-theme="dark"] {
    --primary-color: rgb(107, 106, 134);
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #4d5055;
    --heading-color: #63656d;
    --color: white; 
  }

  // tailwind.config.js

module.exports = {
  darkMode: 'class', // Enable dark mode
  // Other Tailwind CSS configurations...
};

notarize_me/
  |- server.js
  |- views/
  |   |- layouts/
  |   |   |- main.handlebars
  |   |- partials/
  |   |   |- header.handlebars
  |   |   |- footer.handlebars
  |   |- main.handlebars
  |- public/
      |- css/
      |- js/
      |- images/

      dark.handlebars { 
        background: black; background
        color: white; color
      
      }


      form {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        width: 20%;
        margin: 0 auto;
        background-color: #45628a;
        border: 1px solid black;
        padding: 15px;
        border-radius: 5px;
      }
      
      form h2 {
        margin-top: 0;
      }
      
      canvas {
        background-color: white;
        border: 1px solid black;
        margin: 10px auto;
        width: 100%;
      }
      