@tailwind base;
@tailwind components;
@tailwind utilities;



  [data-theme="dark"] {
    --primary-color: rgb(107, 106, 134);
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #4d5055;
    --heading-color: #63656d;
    --color: white; 
  }

  // tailwind.config.js

module.exports = {
  darkMode: 'class', // Enable dark mode
  // Other Tailwind CSS configurations...
};

notarize_me/
  |- server.js
  |- views/
  |   |- layouts/
  |   |   |- main.handlebars
  |   |- partials/
  |   |   |- header.handlebars
  |   |   |- footer.handlebars
  |   |- main.handlebars
  |- public/
      |- css/
      |- js/
      |- images/

      dark.handlebars { 
        background: black; background
        color: white; color
      
      }