ersion fail modal -->

<!-- Title -->
<h1>Edit draft</h1>
<!-- Current enterprise -->
<div class="row">
    <div class="col-12 pb-3">
        <div class="rounded shadow-sm">
            <div class="card card-body border-0">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-4">
                        CURRENT ENTERPRISE
                    </div>
                    <div class="col-12 col-lg-8 text-right">
                        <select id="enterpriseselect" class="custom-select font-weight-bold" onchange="ChangeCurEnterprise()">
                                                                                          <option value="-1" selected="">Individual</option>
                                                                                </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="entryform" action="https://login.notaryact.com/service/entrysave" method="POST" target="service" onsubmit="return beforeSubmit();" enctype="multipart/form-data">
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <!--img src='media/images/error_icon.png' style='width:18px;padding-left:10px;display:none;' id="category_error_icon_-1"-->
            <div id="category_error_0" class="categoryerror" style="display:none;"></div>
        </div>
    </div>
<!--div id='category_error_0' class='categoryerror'></div-->
<input type="hidden" id="act_time_zone" name="act_time_zone" value="300"><input type="hidden" id="draft_id" name="draft_id" value="0"><input type="hidden" id="draft_version" name="draft_version"><input type="hidden" id="input_isForceUpdate" name="isForceUpdate" value="0"><input type="hidden" id="input_isAutoSave" name="isAutoSave" value="1"><script>
document.getElementById('act_time_zone').value = new Date().getTimezoneOffset();
</script>
    <div id="signercategory-container">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <div id="category_error_5" class="categoryerror" style="display:none;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pb-3">
                <div class="container no-padding">
                    
        <div class="container no-padding" style="display:none">
            <div class="row" id="entitysigner_main">
                <div class="col-12 pb-3">
                    <div class="rounded shadow-sm">
                        <div class="card bg-white border-0">
                            <div class="card-header bg-white rounded-0" id="collapseheadingsigner1ident">
                                <div class="row justify-content-between">
                                    <div class="col-10" id="signer_etalon">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link text-uppercase text-secondary btn-collapse font-weight-bold" type="button" data-toggle="collapse" data-target="#collapsebodysigner1ident" aria-expanded="true" aria-controls="collapsebodysigner1ident">
                                                Signer 1
                                            </button>
                                        </h5>
                                    </div>
                                    <div class="col-2 d-md-none">
                                        <i class="fas fa-chevron-up float-right categoryItemArrowsigner1 category-item-arrow" data-toggle="collapse" data-target="#collapsebodysigner1ident" aria-expanded="true" aria-controls="collapsebodysigner1ident"></i>
                                    </div>
                                    <div class="col-md-1 d-none d-md-block">
                                        <i class="fas fa-chevron-up float-right categoryItemArrowsigner1 category-item-arrow" data-toggle="collapse" data-target="#collapsebodysigner1ident" aria-expanded="true" aria-controls="collapsebodysigner1ident"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse border-bottom show" aria-labelledby="collapseheadingsigner1ident" data-control-element="categoryItemArrowsigner1" id="collapsebodysigner1ident">
                                <div class="card-body">
                                    <div class="col-12" id="signer_etalon">
                                        <div class="row align-items-center"><div class="col-12 col-md-6 formCaption">FIRST NAME <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><input class="form-control font-weight-bold" name="new___empty__signer[__rowid__][signer_first_name]" value="" type="text" onfocus="javascript:inputClick(this);" maxlength="128" __required__=""></div></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption">LAST NAME <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><input class="form-control font-weight-bold" name="new___empty__signer[__rowid__][signer_last_name]" value="" type="text" onfocus="javascript:inputClick(this);" maxlength="128" __required__=""></div></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption">ADDRESS <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6">&nbsp;</div><div class="col-12"><div class="row align-items-center mt-1 mb-1"><div class="formCaption col-12 col-md-6">ADDRESS <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><input id="new___empty__signer[__rowid__][signer_address_address]" class="form-control font-weight-bold" name="new___empty__signer[__rowid__][signer_address_address]" value="" type="text" onfocus="javascript:inputClick(this);"></div></div></div><div class="col-12"><div class="row align-items-center mt-1 mb-1"><div class="formCaption col-12 col-md-6">CITY <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><input id="new___empty__signer[__rowid__][signer_address_city]" class="form-control font-weight-bold" name="new___empty__signer[__rowid__][signer_address_city]" value="" type="text" onfocus="javascript:inputClick(this);" __required__=""></div></div></div><div class="col-12"><div class="row align-items-center mt-1 mb-1"><div class="formCaption col-12 col-md-6">STATE <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><select id="new___empty__signer[__rowid__][signer_address_state]" class="custom-select font-weight-bold" name="new___empty__signer[__rowid__][signer_address_state]" onchange="javascript:StateChange(this);" onfocus="javascript:selectFocus(this);" __required__=""><option value=""></option><option value="AK">Alaska</option><option value="AL">Alabama</option><option value="AR">Arkansas</option><option value="AZ">Arizona</option><option value="CA">California</option><option value="CO">Colorado</option><option value="CT">Connecticut</option><option value="DC">Distr.of Columbia</option><option value="DE">Delaware</option><option value="FL">Florida</option><option value="GA">Georgia</option><option value="HI">Hawaii</option><option value="IA">Iowa</option><option value="ID">Idaho</option><option value="IL">Illinois</option><option value="IN">Indiana</option><option value="KS">Kansas</option><option value="KY">Kentucky</option><option value="LA">Louisiana</option><option value="MA">Massachusetts</option><option value="MD">Maryland</option><option value="ME">Maine</option><option value="MI">Michigan</option><option value="MN">Minnesota</option><option value="MO">Missouri</option><option value="MS">Mississippi</option><option value="MT">Montana</option><option value="NC">North Carolina</option><option value="ND">North Dakota</option><option value="NE">Nebraska</option><option value="NH">New Hampshire</option><option value="NJ">New Jersey</option><option value="NM">New Mexico</option><option value="NV">Nevada</option><option value="NY">New York</option><option value="OH">Ohio</option><option value="OK">Oklahoma</option><option value="OR">Oregon</option><option value="PA">Pennsylvania</option><option value="PR">Puerto Rico</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option><option value="SD">South Dakota</option><option value="TN">Tennessee</option><option value="TX">Texas</option><option value="UT">Utah</option><option value="VA">Virginia</option><option value="VI">US Virgin Islands</option><option value="VT">Vermont</option><option value="WA">Washington</option><option value="WI">Wisconsin</option><option value="WV">West Virginia</option><option value="WY">Wyoming</option></select></div></div></div><div class="col-12"><div class="row align-items-center mt-3 mb-1"><div class="formCaption col-12 col-md-6">ZIP CODE <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><input id="new___empty__signer[__rowid__][signer_address_zip]" class="form-control font-weight-bold" name="new___empty__signer[__rowid__][signer_address_zip]" value="" type="text" onchange="javascript:ZipCodeChange(this);" maxlength="12" onfocus="javascript:inputClick(this);" __required__=""></div></div></div></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption">ID TYPE <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><select id="new___empty__signer[__rowid__][signer_id_type]" class="custom-select font-weight-bold" name="new___empty__signer[__rowid__][signer_id_type]" onfocus="javascript:selectFocus(this);" __required__=""><option value="" selected=""></option><option value="7">Credible Witness</option><option value="1">Drivers License</option><option value="5">Imm &amp; Nat. Srvs.</option><option value="2">Passport</option><option value="6">Personal Knowledge</option><option value="102">Personally Known to Notary</option><option value="3">State ID</option><option value="101">Two + current documents</option><option value="104">Two witnesses who know the signer</option><option value="4">US Armed Forces ID</option><option value="103">Witness known to the Signer and Notary</option><option value="8">Other</option></select></div></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption">ID GOV'T ISSUING AGENCY </div><div class="col-12 col-md-6"><input class="form-control font-weight-bold" name="new___empty__signer[__rowid__][signer_id_issuer]" value="" type="text" onfocus="javascript:inputClick(this);" maxlength="128"></div></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption">ID EXPIRATION DATE </div><div class="col-12 col-md-6"><input class="form-control npdate font-weight-bold__nrowid__" name="new___empty__signer[__rowid__][signer_id_expiry]" value="" type="date" size="12"></div></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption">SIGNATURE </div><div class="col-12 col-md-6"><div class="pb-2" style="width:250px"></div>

		 <div class="container no-padding pb-2" style="position: relative">
	     <canvas id="new___empty__signer[__rowid__][signer_signature]" class="imageView" width="250" height="150">
	        <p>Unfortunately, your browser is currently unsupported by our web
	        application.  We are sorry for the inconvenience. Please use one of the
	        supported browsers listed below, or draw the image you want using an
	        offline tool.</p>
	     </canvas>
     <canvas id="new___empty__signer[__rowid__][signer_signature_temp]" width="250" height="150" class="imageTemp"></canvas></div>
     <div align="right" class="buttons">
        <button id="new___empty__signer[__rowid__][signer_signature_clear]" onclick="javascript:void(0);" type="button" class="clearbtn btn btn-outline-danger btn-block font-weight-bold btn-lg border"><i class="fas fa-trash-alt pr-2"></i>Clear</button>
     </div>
     <input type="hidden" id="new___empty__signer[__rowid__][signer_signature_img]" name="new___empty__signer[__rowid__][signer_signature_img]">
   </div>
   <script>Signature('new___empty__signer[__rowid__][signer_signature]', 'new___empty__signer[__rowid__][signer_signature_temp]'
	      , 'new___empty__signer[__rowid__][signer_signature_clear]');</script><input type="hidden" name="new___empty__signer[__rowid__][signer_signature_src]" value=""></div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-12 col-md-4 pt-3 offset-md-8">
                                            <button onclick="javascript:void(0);" type="button" class="delete btn btn-outline-danger btn-block font-weight-bold btn-lg border"><i class="fas fa-trash-alt pr-2"></i>Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-12">
                    <div class="rounded shadow-sm">
                        <div class="card bg-white border-0">
                            <div class="card-header bg-white rounded-0" id="collapseheadingsigner2ident">
                                <div class="row justify-content-between">
                                    <div class="col-10">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link text-uppercase text-secondary btn-collapse font-weight-bold" type="button" data-toggle="collapse" data-target="#collapsebodysigner2ident" aria-expanded="true" aria-controls="collapsebodysigner2ident">
                                                Signer 1
                                            </button>
                                        </h5>
                                    </div>
                                    <div class="col-2 d-md-none">
                                        <i class="fas fa-chevron-up float-right categoryItemArrowsigner2 category-item-arrow" data-toggle="collapse" data-target="#collapsebodysigner2ident" aria-expanded="true" aria-controls="collapsebodysigner2ident"></i>
                                    </div>
                                    <div class="col-md-1 d-none d-md-block">
                                        <i class="fas fa-chevron-up float-right categoryItemArrowsigner2 category-item-arrow" data-toggle="collapse" data-target="#collapsebodysigner2ident" aria-expanded="true" aria-controls="collapsebodysigner2ident"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse border-bottom show" aria-labelledby="collapseheadingsigner2ident" data-control-element="categoryItemArrowsigner2" id="collapsebodysigner2ident">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row align-items-center"><div class="col-12 col-md-6 formCaption">FIRST NAME <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><input class="form-control font-weight-bold" name="new_signer[1][signer_first_name]" value="" type="text" onfocus="javascript:inputClick(this);" maxlength="128"></div></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption">LAST NAME <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><input class="form-control font-weight-bold" name="new_signer[1][signer_last_name]" value="" type="text" onfocus="javascript:inputClick(this);" maxlength="128"></div></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption">ADDRESS <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6">&nbsp;</div><div class="col-12"><div class="row align-items-center mt-1 mb-1"><div class="formCaption col-12 col-md-6">ADDRESS <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><input id="new_signer[1][signer_address_address]" class="form-control font-weight-bold" name="new_signer[1][signer_address_address]" value="" type="text" onfocus="javascript:inputClick(this);"></div></div></div><div class="col-12"><div class="row align-items-center mt-1 mb-1"><div class="formCaption col-12 col-md-6">CITY <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><input id="new_signer[1][signer_address_city]" class="form-control font-weight-bold" name="new_signer[1][signer_address_city]" value="" type="text" onfocus="javascript:inputClick(this);"></div></div></div><div class="col-12"><div class="row align-items-center mt-1 mb-1"><div class="formCaption col-12 col-md-6">STATE <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><select id="new_signer[1][signer_address_state]" class="custom-select font-weight-bold" name="new_signer[1][signer_address_state]" onchange="javascript:StateChange(this);" onfocus="javascript:selectFocus(this);"><option value=""></option><option value="AK">Alaska</option><option value="AL">Alabama</option><option value="AR">Arkansas</option><option value="AZ">Arizona</option><option value="CA">California</option><option value="CO">Colorado</option><option value="CT">Connecticut</option><option value="DC">Distr.of Columbia</option><option value="DE">Delaware</option><option value="FL">Florida</option><option value="GA">Georgia</option><option value="HI">Hawaii</option><option value="IA">Iowa</option><option value="ID">Idaho</option><option value="IL">Illinois</option><option value="IN">Indiana</option><option value="KS">Kansas</option><option value="KY">Kentucky</option><option value="LA">Louisiana</option><option value="MA">Massachusetts</option><option value="MD">Maryland</option><option value="ME">Maine</option><option value="MI">Michigan</option><option value="MN">Minnesota</option><option value="MO">Missouri</option><option value="MS">Mississippi</option><option value="MT">Montana</option><option value="NC">North Carolina</option><option value="ND">North Dakota</option><option value="NE">Nebraska</option><option value="NH">New Hampshire</option><option value="NJ">New Jersey</option><option value="NM">New Mexico</option><option value="NV">Nevada</option><option value="NY">New York</option><option value="OH">Ohio</option><option value="OK">Oklahoma</option><option value="OR">Oregon</option><option value="PA">Pennsylvania</option><option value="PR">Puerto Rico</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option><option value="SD">South Dakota</option><option value="TN">Tennessee</option><option value="TX">Texas</option><option value="UT">Utah</option><option value="VA">Virginia</option><option value="VI">US Virgin Islands</option><option value="VT">Vermont</option><option value="WA">Washington</option><option value="WI">Wisconsin</option><option value="WV">West Virginia</option><option value="WY">Wyoming</option></select></div></div></div><div class="col-12"><div class="row align-items-center mt-3 mb-1"><div class="formCaption col-12 col-md-6">ZIP CODE <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><input id="new_signer[1][signer_address_zip]" class="form-control font-weight-bold" name="new_signer[1][signer_address_zip]" value="" type="text" onchange="javascript:ZipCodeChange(this);" maxlength="12" onfocus="javascript:inputClick(this);"></div></div></div></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption">ID TYPE <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><select id="new_signer[1][signer_id_type]" class="custom-select font-weight-bold" name="new_signer[1][signer_id_type]" onfocus="javascript:selectFocus(this);"><option value="" selected=""></option><option value="7">Credible Witness</option><option value="1">Drivers License</option><option value="5">Imm &amp; Nat. Srvs.</option><option value="2">Passport</option><option value="6">Personal Knowledge</option><option value="102">Personally Known to Notary</option><option value="3">State ID</option><option value="101">Two + current documents</option><option value="104">Two witnesses who know the signer</option><option value="4">US Armed Forces ID</option><option value="103">Witness known to the Signer and Notary</option><option value="8">Other</option></select></div></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption">ID GOV'T ISSUING AGENCY </div><div class="col-12 col-md-6"><input class="form-control font-weight-bold" name="new_signer[1][signer_id_issuer]" value="" type="text" onfocus="javascript:inputClick(this);" maxlength="128"></div></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption">ID EXPIRATION DATE </div><div class="col-12 col-md-6"><input class="form-control npdate font-weight-bold" name="new_signer[1][signer_id_expiry]" value="" type="date" size="12"></div></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption">SIGNATURE </div><div class="col-12 col-md-6"><div class="pb-2" style="width:250px"></div>

		 <div class="container no-padding pb-2" style="position: relative">
	     <canvas id="new_signer[1][signer_signature]" class="imageView" width="250" height="150">
	        <p>Unfortunately, your browser is currently unsupported by our web
	        application.  We are sorry for the inconvenience. Please use one of the
	        supported browsers listed below, or draw the image you want using an
	        offline tool.</p>
	     </canvas>
     <canvas id="new_signer[1][signer_signature_temp]" width="250" height="150" class="imageTemp"></canvas></div>
     <div align="right" class="buttons">
        <button id="new_signer[1][signer_signature_clear]" onclick="javascript:void(0);" type="button" class="clearbtn btn btn-outline-danger btn-block font-weight-bold btn-lg border"><i class="fas fa-trash-alt pr-2"></i>Clear</button>
     </div>
     <input type="hidden" id="new_signer[1][signer_signature_img]" name="new_signer[1][signer_signature_img]">
   </div>
   <script>Signature('new_signer[1][signer_signature]', 'new_signer[1][signer_signature_temp]'
	      , 'new_signer[1][signer_signature_clear]');</script><input type="hidden" name="new_signer[1][signer_signature_src]" value=""></div>
                                    </div>
                                    <div class="row pt-3 pb-3 align-items-center">
                                        <div class="col-12 col-md-4 offset-md-8">
                                            <button onclick="javascript:void(0);" type="button" class="delete btn btn-outline-danger btn-block font-weight-bold btn-lg border"><i class="fas fa-trash-alt pr-2"></i>Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><script>mcIndex['signer']=2</script>                </div>
            </div>
        </div>
    </div>
        <div id="newrow" class="col-12 col-md-7 pb-3 pt-2 offset-md-5">
            <div class="bg-white rounded">
                <button onclick="javascript:addNewMultiplyRow(&quot;signer&quot;, &quot;Signer&quot;);" type="button" class="btn btn-outline-danger btn-block font-weight-bold btn-lg border text-wrap"><i class="fas fa-plus pr-2"></i> Add Another Signer</button>
                            </div>
        </div>
    <div id="naactcategory-container">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <div id="category_error_7" class="categoryerror" style="display:none;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pb-3">
                <div class="container no-padding">
                    
        <div class="container no-padding" style="display:none">
            <div class="row" id="entitynaact_main">
                <div class="col-12 pb-3">
                    <div class="rounded shadow-sm">
                        <div class="card bg-white border-0">
                            <div class="card-header bg-white rounded-0" id="collapseheadingnaact1ident">
                                <div class="row justify-content-between">
                                    <div class="col-10" id="naact_etalon">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link text-uppercase text-secondary btn-collapse font-weight-bold" type="button" data-toggle="collapse" data-target="#collapsebodynaact1ident" aria-expanded="true" aria-controls="collapsebodynaact1ident">
                                                Notarial Act 1
                                            </button>
                                        </h5>
                                    </div>
                                    <div class="col-2 d-md-none">
                                        <i class="fas fa-chevron-up float-right categoryItemArrownaact1 category-item-arrow" data-toggle="collapse" data-target="#collapsebodynaact1ident" aria-expanded="true" aria-controls="collapsebodynaact1ident"></i>
                                    </div>
                                    <div class="col-md-1 d-none d-md-block">
                                        <i class="fas fa-chevron-up float-right categoryItemArrownaact1 category-item-arrow" data-toggle="collapse" data-target="#collapsebodynaact1ident" aria-expanded="true" aria-controls="collapsebodynaact1ident"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse border-bottom show" aria-labelledby="collapseheadingnaact1ident" data-control-element="categoryItemArrownaact1" id="collapsebodynaact1ident">
                                <div class="card-body">
                                    <div class="col-12" id="naact_etalon">
                                        <div class="row align-items-center"><div class="col-12 col-md-6 formCaption">DATE <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><span id="new___empty__naact[__rowid__][notarial_act_date_span]">04/01/2024 19:15:07</span>
			<input type="hidden" id="new___empty__naact[__rowid__][notarial_act_date]" name="new___empty__naact[__rowid__][notarial_act_date]" value="04/01/2024">&nbsp;
			<input type="hidden" id="new___empty__naact[__rowid__][notarial_act_date_time]" name="new___empty__naact[__rowid__][notarial_act_date_time]" value="19:15:07"></div><script>SetNowTimestamp('new___empty__naact[__rowid__][notarial_act_date]','new___empty__naact[__rowid__][notarial_act_date_time]','new___empty__naact[__rowid__][notarial_act_date_span]');</script></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption">LOCATION <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6">&nbsp;</div><div class="col-12"><div class="row align-items-center mt-1 mb-1"><div class="formCaption col-12 col-md-6">ADDRESS <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><input id="new___empty__naact[__rowid__][act_location_address]" class="form-control font-weight-bold" name="new___empty__naact[__rowid__][act_location_address]" value="" type="text" onfocus="javascript:inputClick(this);"></div></div></div><div class="col-12"><div class="row align-items-center mt-1 mb-1"><div class="formCaption col-12 col-md-6">CITY <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><input id="new___empty__naact[__rowid__][act_location_city]" class="form-control font-weight-bold" name="new___empty__naact[__rowid__][act_location_city]" value="" type="text" onfocus="javascript:inputClick(this);" __required__=""></div></div></div><div class="col-12"><div class="row align-items-center mt-1 mb-1"><div class="formCaption col-12 col-md-6">STATE <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><select id="new___empty__naact[__rowid__][act_location_state]" class="custom-select font-weight-bold" name="new___empty__naact[__rowid__][act_location_state]" onchange="javascript:StateChange(this);" onfocus="javascript:selectFocus(this);" __required__=""><option value=""></option><option value="AK">Alaska</option><option value="AL">Alabama</option><option value="AR">Arkansas</option><option value="AZ">Arizona</option><option value="CA">California</option><option value="CO">Colorado</option><option value="CT">Connecticut</option><option value="DC">Distr.of Columbia</option><option value="DE">Delaware</option><option value="FL">Florida</option><option value="GA">Georgia</option><option value="HI">Hawaii</option><option value="IA">Iowa</option><option value="ID">Idaho</option><option value="IL">Illinois</option><option value="IN">Indiana</option><option value="KS">Kansas</option><option value="KY">Kentucky</option><option value="LA">Louisiana</option><option value="MA">Massachusetts</option><option value="MD">Maryland</option><option value="ME">Maine</option><option value="MI">Michigan</option><option value="MN">Minnesota</option><option value="MO">Missouri</option><option value="MS">Mississippi</option><option value="MT">Montana</option><option value="NC">North Carolina</option><option value="ND">North Dakota</option><option value="NE">Nebraska</option><option value="NH">New Hampshire</option><option value="NJ">New Jersey</option><option value="NM">New Mexico</option><option value="NV">Nevada</option><option value="NY">New York</option><option value="OH">Ohio</option><option value="OK">Oklahoma</option><option value="OR">Oregon</option><option value="PA">Pennsylvania</option><option value="PR">Puerto Rico</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option><option value="SD">South Dakota</option><option value="TN">Tennessee</option><option value="TX">Texas</option><option value="UT">Utah</option><option value="VA">Virginia</option><option value="VI">US Virgin Islands</option><option value="VT">Vermont</option><option value="WA">Washington</option><option value="WI">Wisconsin</option><option value="WV">West Virginia</option><option value="WY">Wyoming</option></select></div></div></div><div class="col-12"><div class="row align-items-center mt-3 mb-1"><div class="formCaption col-12 col-md-6">ZIP CODE <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><input id="new___empty__naact[__rowid__][act_location_zip]" class="form-control font-weight-bold" name="new___empty__naact[__rowid__][act_location_zip]" value="" type="text" onchange="javascript:ZipCodeChange(this);" maxlength="12" onfocus="javascript:inputClick(this);" __required__=""></div></div></div></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption">TYPE <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><select id="new___empty__naact[__rowid__][notarial_act_type]" class="custom-select font-weight-bold" name="new___empty__naact[__rowid__][notarial_act_type]" onfocus="javascript:selectFocus(this);" __required__=""><option value="" selected=""></option><option value="1">Acknowledgment</option><option value="2">Affidavit</option><option value="3">Certification</option><option value="4">Copy</option><option value="5">Declaration</option><option value="6">Depositions</option><option value="7">Jurat</option><option value="8">Marriage</option><option value="9">Oath / Affirmation</option><option value="10">Official Witness</option><option value="11">Protest</option><option value="12">Signature</option><option value="13">Verification</option><option value="14">Other</option></select></div></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption">FEE </div><div class="col-12 col-md-6"><input class="form-control font-weight-bold" name="new___empty__naact[__rowid__][act_fee]" value="" type="text" onfocus="javascript:inputClick(this);" maxlength="9"></div></div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-12 col-md-4 pt-3 offset-md-8">
                                            <button onclick="javascript:void(0);" type="button" class="delete btn btn-outline-danger btn-block font-weight-bold btn-lg border"><i class="fas fa-trash-alt pr-2"></i>Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-12">
                    <div class="rounded shadow-sm">
                        <div class="card bg-white border-0">
                            <div class="card-header bg-white rounded-0" id="collapseheadingnaact2ident">
                                <div class="row justify-content-between">
                                    <div class="col-10">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link text-uppercase text-secondary btn-collapse font-weight-bold" type="button" data-toggle="collapse" data-target="#collapsebodynaact2ident" aria-expanded="true" aria-controls="collapsebodynaact2ident">
                                                Notarial Act 1
                                            </button>
                                        </h5>
                                    </div>
                                    <div class="col-2 d-md-none">
                                        <i class="fas fa-chevron-up float-right categoryItemArrownaact2 category-item-arrow" data-toggle="collapse" data-target="#collapsebodynaact2ident" aria-expanded="true" aria-controls="collapsebodynaact2ident"></i>
                                    </div>
                                    <div class="col-md-1 d-none d-md-block">
                                        <i class="fas fa-chevron-up float-right categoryItemArrownaact2 category-item-arrow" data-toggle="collapse" data-target="#collapsebodynaact2ident" aria-expanded="true" aria-controls="collapsebodynaact2ident"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse border-bottom show" aria-labelledby="collapseheadingnaact2ident" data-control-element="categoryItemArrownaact2" id="collapsebodynaact2ident">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row align-items-center"><div class="col-12 col-md-6 formCaption">DATE <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><span id="new_naact[1][notarial_act_date_span]">04/01/2024 19:15:07</span>
			<input type="hidden" id="new_naact[1][notarial_act_date]" name="new_naact[1][notarial_act_date]" value="04/01/2024">&nbsp;
			<input type="hidden" id="new_naact[1][notarial_act_date_time]" name="new_naact[1][notarial_act_date_time]" value="19:15:07"></div><script>SetNowTimestamp('new_naact[1][notarial_act_date]','new_naact[1][notarial_act_date_time]','new_naact[1][notarial_act_date_span]');</script></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption">LOCATION <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6">&nbsp;</div><div class="col-12"><div class="row align-items-center mt-1 mb-1"><div class="formCaption col-12 col-md-6">ADDRESS <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><input id="new_naact[1][act_location_address]" class="form-control font-weight-bold" name="new_naact[1][act_location_address]" value="" type="text" onfocus="javascript:inputClick(this);"></div></div></div><div class="col-12"><div class="row align-items-center mt-1 mb-1"><div class="formCaption col-12 col-md-6">CITY <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><input id="new_naact[1][act_location_city]" class="form-control font-weight-bold" name="new_naact[1][act_location_city]" value="" type="text" onfocus="javascript:inputClick(this);"></div></div></div><div class="col-12"><div class="row align-items-center mt-1 mb-1"><div class="formCaption col-12 col-md-6">STATE <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><select id="new_naact[1][act_location_state]" class="custom-select font-weight-bold" name="new_naact[1][act_location_state]" onchange="javascript:StateChange(this);" onfocus="javascript:selectFocus(this);"><option value=""></option><option value="AK">Alaska</option><option value="AL">Alabama</option><option value="AR">Arkansas</option><option value="AZ">Arizona</option><option value="CA">California</option><option value="CO">Colorado</option><option value="CT">Connecticut</option><option value="DC">Distr.of Columbia</option><option value="DE">Delaware</option><option value="FL">Florida</option><option value="GA">Georgia</option><option value="HI">Hawaii</option><option value="IA">Iowa</option><option value="ID">Idaho</option><option value="IL">Illinois</option><option value="IN">Indiana</option><option value="KS">Kansas</option><option value="KY">Kentucky</option><option value="LA">Louisiana</option><option value="MA">Massachusetts</option><option value="MD">Maryland</option><option value="ME">Maine</option><option value="MI">Michigan</option><option value="MN">Minnesota</option><option value="MO">Missouri</option><option value="MS">Mississippi</option><option value="MT">Montana</option><option value="NC">North Carolina</option><option value="ND">North Dakota</option><option value="NE">Nebraska</option><option value="NH">New Hampshire</option><option value="NJ">New Jersey</option><option value="NM">New Mexico</option><option value="NV">Nevada</option><option value="NY">New York</option><option value="OH">Ohio</option><option value="OK">Oklahoma</option><option value="OR">Oregon</option><option value="PA">Pennsylvania</option><option value="PR">Puerto Rico</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option><option value="SD">South Dakota</option><option value="TN">Tennessee</option><option value="TX">Texas</option><option value="UT">Utah</option><option value="VA">Virginia</option><option value="VI">US Virgin Islands</option><option value="VT">Vermont</option><option value="WA">Washington</option><option value="WI">Wisconsin</option><option value="WV">West Virginia</option><option value="WY">Wyoming</option></select></div></div></div><div class="col-12"><div class="row align-items-center mt-3 mb-1"><div class="formCaption col-12 col-md-6">ZIP CODE <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><input id="new_naact[1][act_location_zip]" class="form-control font-weight-bold" name="new_naact[1][act_location_zip]" value="" type="text" onchange="javascript:ZipCodeChange(this);" maxlength="12" onfocus="javascript:inputClick(this);"></div></div></div></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption">TYPE <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><select id="new_naact[1][notarial_act_type]" class="custom-select font-weight-bold" name="new_naact[1][notarial_act_type]" onfocus="javascript:selectFocus(this);"><option value="" selected=""></option><option value="1">Acknowledgment</option><option value="2">Affidavit</option><option value="3">Certification</option><option value="4">Copy</option><option value="5">Declaration</option><option value="6">Depositions</option><option value="7">Jurat</option><option value="8">Marriage</option><option value="9">Oath / Affirmation</option><option value="10">Official Witness</option><option value="11">Protest</option><option value="12">Signature</option><option value="13">Verification</option><option value="14">Other</option></select></div></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption">FEE </div><div class="col-12 col-md-6"><input class="form-control font-weight-bold" name="new_naact[1][act_fee]" value="" type="text" onfocus="javascript:inputClick(this);" maxlength="9"></div></div>
                                    </div>
                                    <div class="row pt-3 pb-3 align-items-center">
                                        <div class="col-12 col-md-4 offset-md-8">
                                            <button onclick="javascript:void(0);" type="button" class="delete btn btn-outline-danger btn-block font-weight-bold btn-lg border"><i class="fas fa-trash-alt pr-2"></i>Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><script>mcIndex['naact']=2</script>                </div>
            </div>
        </div>
    </div>
        <div id="newrow" class="col-12 col-md-7 pb-3 pt-2 offset-md-5">
            <div class="bg-white rounded">
                <button onclick="javascript:addNewMultiplyRow(&quot;naact&quot;, &quot;Notarial Act&quot;);" type="button" class="btn btn-outline-danger btn-block font-weight-bold btn-lg border text-wrap"><i class="fas fa-plus pr-2"></i> Add Another Notarial Act</button>
                            </div>
        </div>
    <div id="documentcategory-container">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <div id="category_error_8" class="categoryerror" style="display:none;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pb-3">
                <div class="container no-padding">
                    
        <div class="container no-padding" style="display:none">
            <div class="row" id="entitydocument_main">
                <div class="col-12 pb-3">
                    <div class="rounded shadow-sm">
                        <div class="card bg-white border-0">
                            <div class="card-header bg-white rounded-0" id="collapseheadingdocument1ident">
                                <div class="row justify-content-between">
                                    <div class="col-10" id="document_etalon">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link text-uppercase text-secondary btn-collapse font-weight-bold" type="button" data-toggle="collapse" data-target="#collapsebodydocument1ident" aria-expanded="true" aria-controls="collapsebodydocument1ident">
                                                Document 1
                                            </button>
                                        </h5>
                                    </div>
                                    <div class="col-2 d-md-none">
                                        <i class="fas fa-chevron-up float-right categoryItemArrowdocument1 category-item-arrow" data-toggle="collapse" data-target="#collapsebodydocument1ident" aria-expanded="true" aria-controls="collapsebodydocument1ident"></i>
                                    </div>
                                    <div class="col-md-1 d-none d-md-block">
                                        <i class="fas fa-chevron-up float-right categoryItemArrowdocument1 category-item-arrow" data-toggle="collapse" data-target="#collapsebodydocument1ident" aria-expanded="true" aria-controls="collapsebodydocument1ident"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse border-bottom show" aria-labelledby="collapseheadingdocument1ident" data-control-element="categoryItemArrowdocument1" id="collapsebodydocument1ident">
                                <div class="card-body">
                                    <div class="col-12" id="document_etalon">
                                        <div class="row align-items-center"><div class="col-12 col-md-6 formCaption">DATE <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><input class="form-control npdate font-weight-bold__nrowid__" name="new___empty__document[__rowid__][doc_date]" value="" type="date" size="12"></div></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption">TYPE <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><select id="new___empty__document[__rowid__][doc_type]" class="custom-select font-weight-bold" name="new___empty__document[__rowid__][doc_type]" onfocus="javascript:selectFocus(this);" __required__=""><option value="" selected=""></option><option value="1">Affidavit</option><option value="2">Compliance</option><option value="3">Contract</option><option value="4">Deed</option><option value="5">Deed of Trust</option><option value="6">Deposition</option><option value="7">Healthcare Document</option><option value="8">Lease</option><option value="9">Mortgage</option><option value="10">Motor Vehicle Form</option><option value="11">Note</option><option value="12">Petition</option><option value="13">Power of Attorney</option><option value="14">Sworn Statement</option><option value="15">Trust</option><option value="16">Will</option><option value="17">Other</option></select></div></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption">DOCUMENT DESCRIPTION <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><input class="form-control font-weight-bold" name="new___empty__document[__rowid__][DocDes]" value="" type="text" onfocus="javascript:inputClick(this);" maxlength="256" __required__=""></div></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption"># OF PAGES <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><input class="form-control font-weight-bold" name="new___empty__document[__rowid__][doc_page]" value="" type="text" onfocus="javascript:inputClick(this);" maxlength="3" __required__=""></div></div><hr><div class="row align-items-center"><div class="col-12 col-md-6 formCaption">TYPE OF NOTARIZATION <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><select id="new___empty__document[__rowid__][doc_act_type]" class="custom-select font-weight-bold" name="new___empty__document[__rowid__][doc_act_type]" onfocus="javascript:selectFocus(this);" __required__=""><option value="" selected=""></option><option value="1">Acknowledgment</option><option value="2">Affidavit</option><option value="3">Certification</option><option value="4">Copy</option><option value="5">Declaration</option><option value="6">Depositions</option><option value="7">Jurat</option><option value="8">Marriage</option><option value="9">Oath / Affirmation</option><option value="10">Official Witness</option><option value="11">Protest</option><option value="12">Signature</option><option value="13">Verification</option><option value="14">Other</option></select></div></div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-12 col-md-4 pt-3 offset-md-8">
                                            <button onclick="javascript:void(0);" type="button" class="delete btn btn-outline-danger btn-block font-weight-bold btn-lg border"><i class="fas fa-trash-alt pr-2"></i>Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
			      <script>mcIndex['document']= '1';</script>                </div>
            </div>
        </div>
    </div>
        <div id="newrow" class="col-12 col-md-7 pb-3 pt-2 offset-md-5">
            <div class="bg-white rounded">
                <button onclick="javascript:addNewMultiplyRow(&quot;document&quot;, &quot;Document&quot;);" type="button" class="btn btn-outline-danger btn-block font-weight-bold btn-lg border text-wrap"><i class="fas fa-plus pr-2"></i> Add Another Document</button>
                                                            <button id="btn_add_doc_pckg" type="button" class="btn btn-outline-danger btn-block font-weight-bold btn-lg border text-wrap"><i class="fas fa-plus pr-2"></i> Add Document Package</button>
                                                </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <div id="category_error_17" class="categoryerror" style="display:none;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pb-3">
                <div class="container no-padding">
                    
        <div class="row" id="entity">
            <div class="col-12">
                <div class="rounded shadow-sm">
                    <div class="card bg-white border-0">
                        <div class="card-header bg-white rounded-0" id="collapseheadingCommentident">
                            <div class="row justify-content-between">
                                <div class="col-10">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link text-uppercase text-secondary btn-collapse font-weight-bold" type="button" data-toggle="collapse" data-target="#collapsebodyCommentident" aria-controls="collapsebodyCommentident" aria-expanded="true">
                                            Comment
                                        </button>
                                    </h5>
                                </div>
                                <div class="col-2 d-md-none">
                                    <i class="fas fa-chevron-up float-right categoryItemArrowComment category-item-arrow" data-toggle="collapse" data-target="#collapsebodyCommentident" aria-controls="collapsebodyCommentident" aria-expanded="true"></i>
                                </div>
                                <div class="col-md-1 d-none d-md-block">
                                    <i class="fas fa-chevron-up float-right categoryItemArrowComment category-item-arrow" data-toggle="collapse" data-target="#collapsebodyCommentident" aria-expanded="true" aria-controls="collapsebodyCommentident"></i>
                                </div>
                            </div>
                        </div>
                        <div class="collapse border-bottom show" aria-labelledby="collapseheadingCommentident" data-control-element="categoryItemArrowComment" id="collapsebodyCommentident">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row align-items-center"><div class="col-12 col-md-6 formCaption">COMMENTS <i class="fas fa-asterisk align-top" style="color:red; font-size: 0.5em"></i></div><div class="col-12 col-md-6"><textarea class="form-control font-weight-bold" name="comments" maxlength="4000"></textarea></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                </div>
            </div>
        </div>

<!-- Start error block -->
<div class="row justify-content-center">
    <div class="col-6 text-center">
        <div id="error_block" class="categoryerror" style="display: none;">
        </div>
    </div>
</div>
<!-- end error block -->

<div class="row justify-content-center">
    <div class="col-12 col-lg-3">
        <div class="bg-white rounded mb-3">
            <button id="btnSave" name="save_as_draft" onclick="saveAsDraft();" class="btn btn-danger btn-block font-weight-bold btn-lg border">Save</button>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="bg-white rounded mb-3">
            <button id="btnSubmit" name="btnSubmit" onclick="javascript:void(0)" class="btn btn-danger btn-block font-weight-bold btn-lg border">Submit</button>
        </div>
    </div>

    <div class="col-12 col-lg-3">
        <div class="bg-white rounded mb-3">
            <a id="cancel" name="cancel" data-toggle="modal" data-target="#save_as_draft" class="btn btn-light btn-block font-weight-bold btn-lg border">Cancel</a>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="save_as_draft">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Do you want to cancel draft creation? Entered data will be lost.</h4>
                                    </div>
                <div class="modal-footer">
                    <a href="https://login.notaryact.com/draft.html" class="btn btn-primary" id="sad-btn-yes">Yes</a>
                    <button class="btn btn-default" id="sab-btn-no" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>

<iframe id="service" name="service" style="display:none;" src="./Edit draft_files/saved_resource.html"></iframe>
                </div>
            </div>
        </main>


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="./Edit draft_files/bootstrap.min.js.download"></script>
        <script src="./Edit draft_files/bootstrap-toggle.min.js.download"></script>

                <script src="./Edit draft_files/jquery.ui.touch-punch.min.js.download"></script>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-31322583-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    

</body></html>