.svg-icon {
    position: relative;
    top: .125em;
}
.nav-left .nav-link:hover {
    color: #bd2130;
}
.white-space-normal {
    white-space: normal;
}
.profile-image-topbar {
    height: 54px;
    width: 54px;
    background-color: white;
}
.profile-image-info {
    height: 128px;
    width: 128px;
    background-color: white;
}
.custom-file-label {
	white-space: nowrap;
	overflow: hidden;
}
.break-spaces {
	white-space: break-spaces;
}
.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
    margin: 0 auto;
    background-color: #45628a;
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
  }
  
  form h2 {
    margin-top: 0;
  }
  
  canvas {
    background-color: white;
    border: 1px solid black;
    margin: 10px auto;
    width: 100%;
  }
  